* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #111827;
}

header {
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    color: rgb(223, 223, 223);
}

a {
    text-decoration: none;
}

.register-btn {
    color: white;
    background-color: #3B82F6;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.cover-section {
    background-color: aquamarine;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.2)), url('images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-div {
    text-align: center;
}

.cover-div h1 {
    color: #3B82F6;
    font-size: 45px;
    margin-bottom: 25px;
}

.cover-div p {
    color: #F9FAFB;
    text-align: center;
    width: 500px;
    margin: 0px auto 125px;
}

.speaker {
    margin: 20px, auto;
    padding: 100px 150px 20px 150px;
    text-align: center;
}

.speaker h2 {
    color: #f8faff;
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: bold;
}

.speaker article {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    text-align: left;
}

.speaker-first-row,
.speaker-second-row {
    display: flex;
    justify-content: center;
    gap: 1.75rem;
}

.speaker-div {
    background-color: rgb(241, 245, 252);
    border: 2px solid #536592;
    border-radius: 10px;
    overflow: hidden;
    width: 50%;
    box-shadow: 2px 2px 2px #394a66;
}


.speaker-div img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.speaker-intro {
    padding: 20px;
}

.speaker-title {
    color: #3B82F6;
}

.speaker h3 {
    margin: 10px 0px;
}

.speaker-description {
    color: #686b70;
}

.payment {
    margin-top: 100px;
    justify-content: center;
    border: 5px solid white;
}

.payment-title {}

.payment-title h2 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.payment-title p {
    color: rgb(215, 241, 255);
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.pricing {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 40px;
}

.pricing-normal {
    border: 1px solid #c2d9ff;
    border-radius: 10px;
    padding: 25px;
}

.plan-name {
    font-size: 15px;
    font-weight: lighter;
    color: #dde8ff;
}

.plan-price {
    font-size: 40px;
    font-weight: bold;
}

.plan-per {
    font-size: 12px;
    font-weight: lighter;
    color: #dde8ff;
}

.pricing-normal hr {
    margin: 20px 10px;
}

.pricing-normal ul {}

.pricing-normal-btn {}

.pricing-pro {
    border: 1px solid #c2d9ff;
    border-radius: 10px;
    padding: 25px;
}